In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('merged_csv.csv')

In [ ]:
df.head(15)

## Data cleanup

## Find and drop rows
### Find/replace

In [4]:
df['Produktas'] = df['Produktas'].str.replace(r"[()„“]","", regex=True)

In [5]:
df['Kaina'] = df['Kaina'].str.replace(r"€  su PVM","", regex=True)

In [6]:
df['Svoris'] = df['Svoris'].str.replace('(rūdeliais)','')
# ateityje sita keisti su regex, nes palieka skliautelius

C:\Users\User\AppData\Local\Temp\ipykernel_10992\4167584506.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Svoris'] = df['Svoris'].str.replace('(rūdeliais)','')

In [7]:
df['Svoris'] = df['Svoris'].str.replace(r"[()]","", regex=True)

In [8]:
df['Svoris'] = df['Svoris'].str.replace(r",", ".", regex=True)

### Find a full string

In [9]:
df.query("Produktas == 'Viso kiaušinio milteliai'")

   Pardavėjas                 Produktas     Svoris    Kaina
64     Delona  Viso kiaušinio milteliai  milteliai  Nuo2.00

In [10]:
milteliai = df[df['Produktas'].isin(['Viso kiaušinio milteliai'])]
display(milteliai)

   Pardavėjas                 Produktas     Svoris    Kaina
64     Delona  Viso kiaušinio milteliai  milteliai  Nuo2.00

In [11]:
milteliai = df['Produktas'].isin(['Viso kiaušinio milteliai'])
df = df.drop(df[milteliai].index)

In [12]:
df.query("Produktas == 'Viso kiaušinio milteliai'")

Empty DataFrame
Columns: [Pardavėjas, Produktas, Svoris, Kaina]
Index: []

### Find a partial string

In [13]:
df[df['Kaina'].str.contains('Nuo')]

    Pardavėjas                   Produktas     Svoris    Kaina
65      Delona     Kava "ETHIOPIA SIDAMO"         NaN  Nuo2.60
86      Delona  Ceilono cinamonas lazdelės   lazdelės  Nuo1.80
87      Delona    Ceilono cinamonas maltas     maltas  Nuo2.90
92      Delona                   Ciberžolė  Ciberžolė  Nuo1.50
241     Delona                Linų sėmenys    sėmenys  Nuo0.90
250     Delona       Juodųjų sezamų sėklos     sėklos  Nuo1.20

In [52]:
df = df.drop([65,241,228,229,360,415,417,439], errors='ignore')

In [ ]:
df[df['Kaina'].str.contains('Nuo')]

### Replace cell values

In [16]:
df.loc[86] = ['Delona', 'Ceilono cinamonas lazdelės', 100, 5.4]

In [17]:
df.loc[87] = ['Delona', 'Ceilono cinamonas maltas', 1000, 24]

In [18]:
df.loc[92] = ['Delona', 'Ciberžolė', 100, 1.5]
df.loc[250] = ['Delona', 'Juodųjų sezamų sėklos', 100, 1.2]

In [ ]:
df[df['Kaina'].isnull()]

In [ ]:
df[df['Svoris'].isnull()]

### Convert columns to float

In [22]:
df['Kaina'] = df['Kaina'].astype(float)

In [30]:
df['Svoris'] = df['Svoris'].astype(float)

### Calculate price/kg

In [32]:
df['Kaina_kg'] = df['Kaina'] / df['Svoris'] *1000

### Find/replace substrings - product names

In [ ]:
df.loc[df['Produktas'].str.contains("rūkyt", case=False)]

In [97]:
df['Produktas'] = df['Produktas'].replace(dict.fromkeys(['Saldžiosios raudonosios paprikos maltos', 'Saldžios raudonos paprikos 40g maltos','Raudona saldi paprika', 'Saldžioji raudonoji paprika', 'Saldžios raudonos paprikos maltos, ASTA150 1kg', 'Saldžioji paprika malta'], 'Raudonos saldžios paprikos (maltos)'))

In [ ]:
df.loc[df['Produktas'].str.contains("Raudonos saldžios paprikos", case=False)]

In [74]:
df['Produktas'] = df['Produktas'].replace(dict.fromkeys(['Rūkytos  raudonos saldžiosios paprikos', 'Rūkyta paprika', 'Rūkyta saldi raudona paprika 100g', 'Rūkytos raudonos saldžiosios paprikos', 'Saldžios raudonos paprikos rūkytos 60g', 'Rūkyta paprika saldi'], 'Raudonos saldžios paprikos (rūkytos)'))

In [ ]:
df.loc[df['Produktas'].str.contains("rūkyt", case=False)]

In [ ]:
df.loc[df['Produktas'].str.contains("aštr", case=False)]

In [78]:
df['Produktas'] = df['Produktas'].replace(dict.fromkeys(['Maltos aitriosios paprikos čili pipirai 100g', 'Aitrioji paprika', 'Aštrios raudonos paprikos 40g'], 'Aitriosios čili paprikos (maltos)'))

In [ ]:
df.loc[df['Produktas'].str.contains("dribs", case=False)]

In [87]:
df['Produktas'] = df['Produktas'].replace(dict.fromkeys(['Aitriosios paprikos čili dribsniai 80g', 'Aitrioji paprika džiovinta'], 'Aitriosios čili paprikos (smulkintos)'))

In [105]:
df['Produktas'] = df['Produktas'].replace(dict.fromkeys(['Rūkytos aitriosios paprikos čili 100g'], 'Dūmų skonio aitriosios čili paprikos'))

In [114]:
 df.loc[214, 'Produktas'] = 'Dūmų skonio aitriosios čili paprikos'

In [116]:
df['Produktas'] = df['Produktas'].replace(dict.fromkeys(['Saldžiosios raudonosios paprikos dribsniai 100 g', 'Saldžios raudonos paprikos smulkintos 10x10 1kg'], 'Raudonos saldžios paprikos (smulkintos)'))

In [ ]:
df.loc[df['Produktas'].str.contains('paprik', case=False)]

In [128]:
df = df.loc[df['Produktas'].str.contains('Raudonos saldžios paprikos|Aitriosios čili paprikos' , case=False)]

### Display select columns

In [172]:
cols = ['Pardavėjas', 'Produktas', 'Kaina_kg']

In [ ]:
df[cols]

In [174]:
df_new = df[cols].sort_values(by='Produktas')

### Create a pivot table

In [175]:
df_new.pivot_table(index='Produktas', columns='Pardavėjas', values='Kaina_kg', aggfunc='sum')

Pardavėjas,Chaichai,Delona,Prieskonių namai,Sauda,Spaisvilė
Produktas,,,,,
Aitriosios čili paprikos (maltos),NaN,9.00,NaN,12.00,8.50
Aitriosios čili paprikos (smulkintos),NaN,16.25,NaN,NaN,10.00
Dūmų skonio aitriosios čili paprikos,NaN,20.00,NaN,NaN,NaN
Raudonos saldžios paprikos (maltos),50.00,NaN,NaN,17.51,43.40
Raudonos saldžios paprikos (rūkytos),50.00,15.00,40.00,19.83,41.50
Raudonos saldžios paprikos (smulkintos),NaN,16.00,NaN,9.72,NaN

### Display float 2 decimals

In [176]:
pd.options.display.float_format = "{:,.2f}".format

In [177]:
df_new.pivot_table(index='Produktas', columns='Pardavėjas', values='Kaina_kg', aggfunc='sum')

Pardavėjas,Chaichai,Delona,Prieskonių namai,Sauda,Spaisvilė
Produktas,,,,,
Aitriosios čili paprikos (maltos),NaN,9.00,NaN,12.00,8.50
Aitriosios čili paprikos (smulkintos),NaN,16.25,NaN,NaN,10.00
Dūmų skonio aitriosios čili paprikos,NaN,20.00,NaN,NaN,NaN
Raudonos saldžios paprikos (maltos),50.00,NaN,NaN,17.51,43.40
Raudonos saldžios paprikos (rūkytos),50.00,15.00,40.00,19.83,41.50
Raudonos saldžios paprikos (smulkintos),NaN,16.00,NaN,9.72,NaN

### Display NaN as blank

In [184]:
prices = df_new.pivot_table(index='Produktas', columns='Pardavėjas', values='Kaina_kg', aggfunc='mean').fillna('')
display(prices)

Pardavėjas,Chaichai,Delona,Prieskonių namai,Sauda,Spaisvilė
Produktas,,,,,
Aitriosios čili paprikos (maltos),,9.00,,12.00,8.50
Aitriosios čili paprikos (smulkintos),,16.25,,,10.00
Dūmų skonio aitriosios čili paprikos,,20.00,,,
Raudonos saldžios paprikos (maltos),50.00,,,8.75,14.47
Raudonos saldžios paprikos (rūkytos),50.00,15.00,40.00,19.83,41.50
Raudonos saldžios paprikos (smulkintos),,16.00,,9.72,

### Export to Excel

In [187]:
prices.to_excel('paprika_prices.xlsx', encoding='utf-8')